<h1>add user</h1>
<%= form_tag admin_ama_users_path, :method => :post do |f| %>
  <div class="field">
    <%= label_tag :username %><%= text_field_tag :username %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
