<% content_for :title, "Privacy Policy :: BestofAMA" %>
<div class="row">
  <div class="span12">
    <div class="well">
      <h1>Privacy Policy</h1>

      <h5>What information do we collect?</h5>

      <p>
        You may, visit our site anonymously, however, some features require you to be logged in.
        In doing so you will be required to enter your reddit.com username and password.
      </p>

      <p>BestofAMA saves the following information about your reddit.com user</p>
      <ul>
        <li>Mod Hash - required to use the reddit.com api</li>
        <li>Link Karma score</li>
        <li>Comment Karma score</li>
      </ul>

      <p>BestofAMA <span style="color: red; font-weight: bold;">DOES NOT</span>, save or log your reddit.com password in
        any way what so
        ever. The source code is freely available <a href="https://github.com/andey/bestofama">here</a>
      </p>

      <h5>What do we use your information for?</h5>

      <p>
        Any of the information we collect from you may be used in one of the following ways:
      </p>

      <ul>
        <li>
          To personalize your experience (your information helps us to better respond to your individual needs)
        </li>
        <li>
          To use the reddit.com api, using your user
        </li>
      </ul>

      <h5>Do we use cookies?</h5>

      <p>
        Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through
        your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser
        and capture and remember certain information.
      </p>

      <h5>Do we disclose any information to outside parties?</h5>

      <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This
        does not include trusted third parties who assist us in operating our website, conducting our business, or
        servicing you, so long as those parties agree to keep this information confidential. We may also release your
        information when we believe release is appropriate to comply with the law, enforce our site policies, or protect
        ours or others rights, property, or safety. However, non-personally identifiable visitor information may be
        provided to other parties for marketing, advertising, or other uses.
      </p>

      <h5>Childrens Online Privacy Protection Act Compliance</h5>

      <p>
        We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect
        any information from anyone under 13 years of age. Our website, products and services are all directed to people
        who are at least 13 years old or older.
      </p>

      <h5>Online Privacy Policy Only</h5>

      <p>
        This online privacy policy applies only to information collected through our
        website and not to information collected offline.
      </p>

      <h5>Terms and Conditions</h5>

      <p>
        Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of
        liability governing the use of our website at
        <%= link_to "here", page_path(:id => "terms") %>
      </p>

      <h5>Your Consent</h5>

      <p>
        By using our site, you consent to our websites privacy policy
      </p>

      <h5>Changes to our Privacy Policy</h5>

      <p>
        If we decide to change our privacy policy, we will post those changes on this page.
      </p>

      <p>
        This policy was last modified on December 12th, 2012
      </p>

      <h5>Contacting Us</h5>

      <p>
        If there are any questions regarding this privacy policy you
        may <%= link_to "contact us", page_path(:id => "contact") %>
      </p>

    </div>
  </div>
</div>