.op-snippet
  height: 100px
  overflow-y: hidden
  .op-avatar
    max-width: 100%

#ops_show

  h2
    margin-bottom: 0

  hr
    margin-top: 0
    border: 1px solid

  .op-avatar
    margin-top: 10px
    width: 100%
    margin-bottom: 20px

  .ama.ama-comments
    margin-top: 15px

  .well
    margin-bottom: 5px

  table
    width: 100%
  .table-value
    text-align: right