.ama
  .karma-meter
    font-size: 15px
    text-align: center
    img
      width: 20px
    b
      margin-left: -2px
      color: #000000

  .karma-meter-large
    margin-top: 40px
    font-size: 20px
    text-align: center
    img
      width: 40px
    b
      margin-left: -2px
      color: #000000

  h4.ama-title
    margin-top: 10px

  .ama-content
    margin-bottom: 5px

  .ama-comments
    margin-bottom: 40px

  .ama-comment
    .md
      background-color: #FFFFFF
      h1
        font-size: 1em
      h2
        font-size: 13px

  .label
    a:link
      font-size: 1.3em
      color: white
    a:visited
      font-size: 1.3em
      color: white
    a:hover
      font-size: 1.3em
      color: white
    a:active
      font-size: 1.3em
      color: white

#submit_button
  margin-left: -20px