.ama-karma-meter-large
  font-size: 20px
  padding-top: 15px
  text-align: center

.ama-karma-meter-small
  font-size: 15px
  text-align: center
  img
    width: 20px

.label
  a:link
    color: white
  a:visited
    color: white
  a:hover
    color: white
  a:active
    color: white

.md
  h1
    font-size: 1em

#social-media
  position: fixed
  top: 75px
  left: 50%
  margin-left: -550px
  width: 60px
  text-align: center

  .spacer
    margin-top: 20px