body.admin-body
  background-color: #FF9999

  .body-container
    padding-top: 45px
    border-left: 2px solid
    border-right: 2px solid
    border-bottom: 2px solid
    background-color: #FFFFFF
    padding-bottom: 25pxz

    .content
      padding-left: 25px
      padding-right: 25px

      b
        margin-right: 5px

  .action-buttons
    padding-top: 20px
    button
      margin-left: 10px

  table.table.table-borderless td, table.table.table-borderless tr, table.table.table-borderless th
    border: none

  table.table.table-borderless td.table-value
    text-align: right
