.hidden
  display: none

.col-half-offset-1
  margin-left: 4.166666667%
.col-half-offset-2
  margin-left: 8.333333333%
.col-half-offset-3
  margin-left: 12.5%
.col-half-offset-4
  margin-left: 16.666666667%
.col-half-offset-5
  margin-left: 20.833333333%
.col-half-offset-6
  margin-left: 25%
.col-half-offset-7
  margin-left: 29.166666667%
.col-half-offset-8
  margin-left: 33.333333333%
.col-half-offset-9
  margin-left: 37.5%
.col-half-offset-10
  margin-left: 41.666666667%
.col-half-offset-11
  margin-left: 45.833333333%
.col-half-offset-12
  margin-left: 50%
.col-half-offset-13
  margin-left: 54.166666667%
.col-half-offset-14
  margin-left: 58.333333333%
.col-half-offset-15
  margin-left: 62.5%
.col-half-offset-16
  margin-left: 66.666666667%
.col-half-offset-17
  margin-left: 70.833333333%
.col-half-offset-18
  margin-left: 75%
.col-half-offset-19
  margin-left: 79.166666667%
.col-half-offset-20
  margin-left: 83.333333333%
.col-half-offset-21
  margin-left: 87.5%
.col-half-offset-22
  margin-left: 91.666666667%
.col-half-offset-23
  margin-left: 95.833333333%
.col-half-offset-24
  margin-left: 100%


body.public
  min-width: 650px
  background-color: #ADEBFF

  .container
    border-left: 2px solid
    border-right: 2px solid
    border-bottom: 2px solid
    background-color: #FFFFFF
    margin-bottom: 25px

    div.pagination
      margin-top: 35px

    .btn-actions
      margin-top: 20px

  #footer
    text-align: center
    margin-bottom: 50px

    ul
      li
        display: inline
        list-style-type: none
        padding-right: 20px

.legal
  font-size: .8em
  font-family: monospace, serif