<% content_for :title, "Submit :: BestofAMA" %>

<div class="row">
  <div class="span12">
    <h1>Submit AMA <small>please enter a reddit.com url linking to the comments</small></h1>

    <%= form_tag '/submit', :method => "post", :class => "form-horizontal" do %>
        <input id="submit_ama_url_input" name="ama_url" class="span10" style="height: 35px; font-size: 25px;" type="text">
        <%= submit_tag "Submit", :id => "submit_button", :class => "btn btn-large btn-inverse span2" %>
    <% end %>

    <h4>Examples</h4>
    <ul>
      <li>http://www.reddit.com/r/IAmA/comments/x9pq0/iam_bill_nye_the_science_guy_ama/</li>
      <li>http://www.reddit.com/r/breakingbad/comments/oaz0w/i_am_actor_giancarlo_esposito_and_i_play_gus_on/</li>
    </ul>
  </div>
</div>